<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="WithdrawMoneyException" value="You don't have enough money in your account to make this withdraw."/>
    <add key="InsertMoneyException" value="You cannot insert negative amount or zero."/>
    <add key="SendMoneyBalanceException" value="You don't have enough money in your account make this transfer."/>
    <add key="SendMoneyRecipientException" value="The recipient's account number doesn't exist."/>
    <add key="CreateClientNegativeBalanceException" value="It's not possible to create account with negative balance."/>
    <add key="DuplicateUsernameException" value="This username is already used."/>

    <add key="FirstCurrentAccDeposit" value="Deposit when opening a current account"/>
    <add key="FirstSavingsAccDeposit" value="Deposit when opening a savings account"/>

    <add key="SuccessCaption" value="Success"/>
    <add key="ErrorCaption" value="Error"/>
    <add key="LoginErrorCaption" value="Access denied!"/>
    <add key="DuplicateUsernameCaption" value="Duplicate username"/>
    <add key="LoginErrorText" value="Wrong username or password! Try again."/>
    <add key="WithdrawSuccessText" value="The money was successfully withdrawn."/>
    <add key="WithdrawErrorText" value="You don't have enough money in your account to make this withdraw."/>
    <add key="InsertSuccessText" value="The money was successfully deposited."/>
    <add key="InsertErrorText" value="You cannot insert negative amount or zero."/>
    <add key="SendMoneySuccessText" value="The money was sent successfully."/>
    <add key="SuccessText" value="Account successfully created. You can log in now."/>


  </appSettings>
</configuration>

